/* SearchBar.module.scss */

.searchContainer {
  margin-bottom: 20px;
  .inputField {
    padding: 8px;
    margin-right: 10px;
    border: 1px solid #ced4da;
    border-radius: 4px;
  }
  .selectBox {
    padding: 8px;
    border: 1px solid #ced4da;
    border-radius: 4px;
    cursor: pointer;
  }
  .submitButton {
    margin-left: 2rem;
    padding: 10px 16px;
    background-color: #6faaea;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
}





