.bannerText{
  background-color: rgb(158, 229, 144);
  padding: 0.6rem;
  font-weight: 700;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}